/**********************************/
/* Root Code */
/**********************************/

:root {
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --dark: #0E1116;
  --blue: #374A67;
  --light-blue: #BDD4E7;
  --light: #F0F5FA;
  --gap-spacing: 5%;
}

/**********************************/
/* Initial Set Up */
/**********************************/

* {
  box-sizing: border-box;
  
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  line-height: 1.5;
  background: var(--light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--blue);
}

p {
  margin: 0;
  color: var(--dark);
}

/**********************************/
/* DRY */
/**********************************/

.title, .subtitle {
  background: var(--light-blue);
  padding: 0 var(--gap-spacing);
}

/**********************************/
/* Header */
/**********************************/

header {
  background: var(--blue);
  padding: var(--gap-spacing) 0;
}

.title {
  margin-right: var(--gap-spacing);
}

nav a {
  color: var(--light-blue);
  text-decoration: none;
}

nav ul {
  padding: 0 var(--gap-spacing);
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  list-style: none;
  border-bottom: 2px solid var(--light-blue);
}

/**********************************/
/* Hero Banner */
/**********************************/

.hero-banner {
  height: 200px;
  background-image: url("../images/02-hero-bg.jpg");
  background-size: cover;
  padding: var(--gap-spacing) 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.subtitle {
  margin-left: var(--gap-spacing);
  text-align: end;
}